@import "../../variables.scss";

.back-button {
  padding: 5px;
  // border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute;
  left: 0;
}
mat-toolbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $toolbar-height;
  background-color: #27007a;

  img {
    cursor: pointer;
  }

  mat-icon {
    font-size: 24px;
  }

  .app-title {
    text-align: center;
    color: #ffffff;
    // font-family: Berkshire Swash, cursive !important;
    margin: 0 !important;
    cursor: pointer;
    font-family: Berkshire Swash !important;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
  }

  .menu-button {
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    width: 70px;
    border-radius: 0;
    position: absolute;
    right: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .app-title {
    text-align: center;
    color: #ffffff;
    // font-family: Berkshire Swash, cursive !important;
    margin: 0 !important;
    cursor: pointer;
    font-family: Berkshire Swash !important;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
  }
}
