

.card-clickable .mat-card-header {
    text-align: center!important;
    margin: 0 auto!important;
    display: block!important;
    position: relative;
    width: 100%;
}
.card-clickable.mat-card.ng-star-inserted {
    margin-bottom: 8px;
}