<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card no-margin">
     
        <div id="admintrending">
         <div class="text-center font-weight-bold"> <h4>Jharkhan News</h4> </div>
         <hr>
          <div>
            <div class="ui-g form-group">
                <div class="basic-container">

                    <mat-grid-list cols="3" rowHeight="40px">
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <button type="button" style="height: 30px; width: 160px;" 
                          class="rounded-button">
                           Select State
                         </button>
                      </mat-grid-tile>

                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <button type="button" style="height: 30px; width: 160px; background-color: green; color: white" 
                            class="rounded-button">
                            Topics
                          </button>
                      </mat-grid-tile>

                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                          <button type="button" style="height: 30px; width: 160px;" 
                            class="rounded-button">
                            Manage Clients
                          </button>
                      </mat-grid-tile>
                        
                    </mat-grid-list>

                    <mat-grid-list cols="1" rowHeight="40px">
                       
  
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <button type="button" style="height: 25px; width: 160px;" 
                            class="rounded-button">
                            <i class="fa fa-plus"></i>
                            &nbsp;&nbsp;
                             Add News
                           </button>
                        </mat-grid-tile>
                          
                      </mat-grid-list>
                    
                    </div>

             
              
             


            </div>

            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            

          </div>


        </div>
      </div>
    </div>