.example-card {
    max-width: 400px;
   
  }

  #wrapper {
    width: 100%;
    background-color: #fff;
  }
  
  
  #top-nav {
    position: fixed;

  }
  
  #side-nav {


    height:600px;

    overflow-y: scroll;
  
  }