@media only screen and (max-width: 600px) {
  ::ng-deep .Middle {
    padding: 0 !important;
  }
  ::ng-deep .mat-card {
    padding: 0 !important;
  }
  ::ng-deep iframe {
    height: auto !important;
    min-height: 280px !important;
  }
}


h3 {
  background: #CDCDCD;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  padding: 15px !important;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
  font-weight: 450;
  top: 43px;
}