<div class="home-menu-container">
  <button class="home-menu-button" mat-raised-button [routerLink]="'/trending'">
    <img src="assets/trending_news.svg" alt="Trending News" />
    <span>Trending News</span>
  </button>
  <button class="home-menu-button" mat-raised-button [routerLink]="'/feed'">
    <img src="assets/feeds.svg" alt="Feeds" />
    <span>Feeds</span>
  </button>
  <button class="home-menu-button" mat-raised-button [routerLink]="'/helpline'">
    <img src="assets/helpline.svg" alt="Helpline" />
    <span>Helpline</span>
  </button>
</div>
