<div class="home-menu-container">
  <button class="home-menu-button" mat-raised-button [routerLink]="'/trending'">
    <img src="assets/trending_news.svg" alt="Trending News" />
    <span>Trending News</span>
  </button>
  <button class="home-menu-button" mat-raised-button [routerLink]="'/feed'">
    <img src="assets/feeds.svg" alt="Feeds" />
    <span>Feeds</span>
  </button>
  <button class="home-menu-button" mat-raised-button [routerLink]="'/helpline'">
    <img src="assets/helpline.svg" alt=" India Helpline" />
    <span> India Helpline</span>
  </button>
  <a class="anchorStyle" target="_blank" href="https://gocrowdera.com/IN/self/for-NGO-Start-up/Akshay-17130"> <button class="home-menu-button" mat-raised-button > 
    <img src="assets/Vector.svg" alt="About Us" />
    <span> About Us</span>
  </button></a>
  <a class="anchorStyle" target="_blank" href="https://gocrowdera.com/IN/self/for-NGO-Start-up/Akshay-17130"> <button class="home-menu-button" mat-raised-button> 
    <img src="assets/support.svg" alt="Support Us" />
    <span> Support Us</span>
  </button></a>
</div>
