@import '../../variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$toolbar-height});
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
