<div class="social-icons">

  <a href="{{helpline.facebookLink}}"
    *ngIf="helpline.facebookLink"
    target="_blank">
    <img src="assets/facebook.png" />
  </a>

  <a href="{{helpline.twitterLink}}"
    *ngIf="helpline.twitterLink"
    target="_blank">
    <img src="assets/twitter.png" />
  </a>

  <a href="{{helpline.instagramLink}}"
    *ngIf="helpline.instagramLink"
    target="_blank">
    <img src="assets/instagram.png" />
  </a>

  <a href="{{helpline.whatsappLink}}"
    *ngIf="helpline.whatsappLink"
    target="_blank">
    <img src="assets/whatsapp.png" />
  </a>

</div>
