<div class="social-icons">
  <a
    [href]="helpline.facebookLink"
    [ngStyle]="getStyles(helpline.facebookLink)"
    target="_blank"
  >
    <img src="assets/facebook.png" />
  </a>

  <a
    [href]="helpline.twitterLink"
    [ngStyle]="getStyles(helpline.twitterLink)"
    target="_blank"
  >
    <img src="assets/twitter.png" />
  </a>

  <a
    [href]="helpline.instagramLink"
    [ngStyle]="getStyles(helpline.instagramLink)"
    target="_blank"
  >
    <img src="assets/instagram.png" />
  </a>

  <a
    [href]="helpline.whatsappLink"
    [ngStyle]="getStyles(helpline.whatsappLink)"
    target="_blank"
  >
    <img src="assets/whatsapp.png" />
  </a>
</div>
