<form [formGroup]="formGroup" class="form">
    <mat-form-field>
      <input
        matNativeControl
        matInput
        placeholder="Headline"
        formControlName="headline"
      />
      <mat-error
        *ngIf="
          !formGroup.controls['headline'].valid &&
          formGroup.controls['headline'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matNativeControl
        matInput
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <mat-error
        *ngIf="
          !formGroup.controls['description'].valid &&
          formGroup.controls['description'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>


          <app-state-selection
          [states]="states" [selectedState]="selectedState"
          (onStateChange)="onStateChange($event)"></app-state-selection>
          <mat-error *ngIf="!formGroup.controls['state'].valid
              && formGroup.controls['state'].touched">
              {{ titleAlert }}
          </mat-error>

    <mat-form-field>
      <input
        matNativeControl
        matInput
        placeholder="Headline Number"
        formControlName="headlineNumber"
      />
      <mat-error
        *ngIf="
          !formGroup.controls['headlineNumber'].valid &&
          formGroup.controls['headlineNumber'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matNativeControl
        matInput
        placeholder="Website Link"
        formControlName="websiteLink"
      />
      <mat-error
        *ngIf="
          !formGroup.controls['websiteLink'].valid &&
          formGroup.controls['websiteLink'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        matNativeControl
        placeholder="File Online Complaint Link"
        formControlName="fileOnlineComplaintLink"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        matNativeControl
        placeholder="Twitter Link"
        formControlName="twitterLink"
      />
      <mat-error
        *ngIf="
          !formGroup.controls['twitterLink'].valid &&
          formGroup.controls['twitterLink'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        matNativeControl
        placeholder="Facebook Link"
        formControlName="facebookLink"
      />
      <mat-error
        *ngIf="
          !formGroup.controls['facebookLink'].valid &&
          formGroup.controls['facebookLink'].touched
        "
      >
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        matNativeControl
        placeholder="Instagram Link"
        formControlName="instagramLink"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        matNativeControl
        placeholder="Whats app Link"
        formControlName="whatsappLink"
      />
    </mat-form-field>
  </form>
