<div class="ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="card no-margin">
  
            <!-- <mat-icon>add_circle_outline</mat-icon> -->

          <div id="admintrending">
            <div class="text-center font-weight-bold">
              <h4></h4>
            </div>
            <div>
              <div class="ui-g form-group">
                <div class="basic-container">
  
                  <mat-grid-list cols="3" rowHeight="40px">
                 
  
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                      <!-- <button type="button"  (click)="openDialog()" style="height: 30px; width: 160px; background-color: rgb(211, 211, 211); color: black"
                        class="rounded-button"> 
                        Add Topic
                      </button> -->
                      <button type="button" (click)="openDialog()" style="height: 25px; width: 160px;" class="rounded-button">
                          <span><mat-icon class="rounded-button-micon">add</mat-icon></span>
    
                          Add Topic
                        </button>
    
                    </mat-grid-tile>
  
   
                  </mat-grid-list>
  
                  <mat-grid-list cols="1" rowHeight="40px">
  
  
                 
  
                  </mat-grid-list>
  
                </div>
  
  
                <div style="padding : 40px;">
                  <campusrope-infinite-list [apiurl]="commonService.tableNames.Topics" ></campusrope-infinite-list>
                </div>
  
  
  
  
  
  
  
              </div>
  
              <br /><br /><br /><br /><br /><br /><br /><br /><br />
              <br /><br /><br /><br /><br /><br /><br /><br /><br />
  
  
            </div>
  
  
          </div>
        </div>
      </div>