mat-form-field {
  width: 100%!important;
  padding: 5px;
}

::ng-deep .mat-form-field-flex {
  background: white;
  border-radius: 29px;
// border: 1px solid #E1E1E1;
box-sizing: border-box;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
// border-radius: 10px;
// width: 100%!important;
padding: 5px;

}
  


::ng-deep .mat-form-field-infix{
  border-top:0!important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-select-value-text {
  color: rgb(52, 16, 130);
}
::ng-deep .mat-select-arrow {
  color: rgb(52, 16, 130) !important;
}
::ng-deep .mat-select-trigger
{

width:90px!important;
margin-left: 60px!important;

}


@media (max-width:768px) {
#cdk-overlay-0 {
  top: 206px!important;
  left: 111.5px!important;
}

}
