.state-selection-drop {
  width: 100%;
  text-align: center;
}
h3 {
  background: #CDCDCD;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
  padding: 15px !important;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
  font-weight: 450;
  top: 46px;
}

@media (max-width:970px) {
  .national-sec {
    margin-top: 70px;
  }
}
@media (max-width:768px) {
.national-sec {
  margin-top: 70px;
}

}
