.Container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 64px); //64 = height of topbar
    margin-top: -64px;
    padding-top: 64px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }
  /*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
  WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
  */
  .Left,
  .Middle,
  .Right {
    overflow: auto;
    height: auto;
    padding: 0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
  /*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
  .Left::-webkit-scrollbar,
  .Middle::-webkit-scrollbar,
  .Right::-webkit-scrollbar {
    display: none;
  }
  /*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
  .Left {
    width: 20%;
    z-index: 2;
    background-color: #CDCDCD;
  }
  
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 75px;


  }
  
  .Right {
    width: 20%;
    z-index: 2;
    background-color:#CDCDCD;
  } 
  
  .left-btn {
    left: -45px;
    z-index: 100;
    position: absolute;
    right: 94.44%;
    top: 30%;
    border-radius: 43%;
    height: 85px;
    width: 80px;
    cursor: pointer;
    background: #ffffff;
    transform: rotate(-180deg);
  }
  
  .right-btn {
    position: absolute;
    z-index: 100;
    right: -45px;
    top: 30%;
    border-radius: 43%;
    height: 85px;
    width: 80px;
    cursor: pointer;
    background: #ffffff;
    transform: rotate(-180deg);
  }
  
  .left-btn img {
    position: absolute;
    left: 13.35%;
    top: 30.69%;
    transform: rotate(-180deg);
  }
  
  .right-btn img {
    position: absolute;
    right: 14.96%;
    top: 30.33%;
    bottom: 0%;
    transform: rotate(-180deg);
  }
  
  .app-sidenav {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 10px;


  }
  .Container {
    display: flex;
    overflow-y:scroll;
    margin-top: -64px;
    padding-top: 64px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }
}
 
/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 0px;
  }
  
}
 
/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 20px;


  }
}
 
/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 0px;


  }
}
 
/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
  .Middle {
    flex: 1;
    background-color: #EDEDED;
    padding: 0px;


  }
}
 
/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}
 
/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}
 
/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* insert styles here */
}
 
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
}
 
/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */
}
 
/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}
 
/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    /* insert styles here */
}
 
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
}
 
/* (1440x900) WXGA+ Display */
@media  screen and (max-width: 1440px) {
    /* insert styles here */
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
    /* insert styles here */
}
 
/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
    /* insert styles here */
}
 
/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
    /* insert styles here */
}