<div class="helpline-wrapper">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let helplineData of helplineList$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ helplineData.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="expansion-panel-desc">
        {{ helplineData.description }}
      </p>

      <div class="expansion-panel-items">
        <div>
          Helpline Number
        </div>
        <div *ngFor="let pno of helplineData.phoneNumber.split(',')">
          <app-click-to-call [phoneNumber]="pno"> </app-click-to-call>
        </div>

        <div class="helpline-content-btn">
          <span>
            Website
          </span>
          <h5>
            <app-click-to-open
              [url]="helplineData.websiteLink"
            ></app-click-to-open>
          </h5>
        </div>

        <div class="helpline-content-btn">
          <span style="color: #FF0000">
            File Online Complaints
          </span>
          <h5>
            <app-click-to-open
              [url]="helplineData.fileOnlineComplaintLink"
            ></app-click-to-open>
          </h5>
        </div>

        <app-social-network-icons [helpline]="helplineData">
        </app-social-network-icons>
      </div>
      <app-helpline-form-actions
        *ngIf="showControls"
        [helplineData]="helplineData"
      ></app-helpline-form-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <h3 *ngIf="(helplineList$ | async)?.length == 0" class="text-center">
    No helplines for this state
  </h3>
</div>
