<div class="helpline-wrapper ">
  <pre>{{ (helplineList$ | async).length }}</pre>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let helplineData of helplineList$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ helplineData.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="expansion-panel-desc">
        {{ helplineData.description }}
      </p>

      <div class="expansion-panel-items">

        <app-click-to-call
            phoneNumber="{{helplineData.phoneNumber}}">
        </app-click-to-call>
        <div class="helpline-content-btn">
          <span>
            Website
          </span>
          <h5>
            <a href="" (click)="goToLink('website',helplineData.websiteLink)">
              {{ helplineData.websiteLink }}
            </a>
          </h5>
        </div>

        <div class="helpline-content-btn">
          <span style="color: #FF0000">
            File Online Complaints
          </span>
          <h5>
            <a href="" (click)="goToLink('complaint',helplineData.fileOnlineComplaintLink)">
              {{ helplineData.fileOnlineComplaintLink }}
            </a>
          </h5>
        </div>

        <div class="social-icons">
          <img src="assets/facebook.png" />
          <img src="assets/twitter.png" />
          <img src="assets/instagram.png" />
          <img src="assets/whatsapp.png" />
        </div>
      </div>
      <app-helpline-form-actions
        [helplineData]="helplineData"></app-helpline-form-actions>
    </mat-expansion-panel>
  </mat-accordion>
</div>
