/* .helpline-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 65px;
}

.mat-accordion-head {
  margin: 20px 0;
  width: 80%;
}

.helpline-accordion-panel {
  box-shadow: none;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 11px;
}

.expansion-panel-desc {
  margin: 10px 20px !important;
  text-align: justify !important;
}

.expansion-panel-items{
  display:flex;
  flex-direction:column;
}

.helpline-content-btn {
  background: #ededed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 103px;
  padding: 5px 20px;
  display: flex;
  margin: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.helpline-content-btn span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.helpline-content-btn h2 {
  margin: 0;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.helpline-content-btn h5 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}


.social-icons {
  display:flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons > img{
  cursor: pointer;
}
 */
